.dialog {
    padding: 7px;
    margin: 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: crimson;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: crimson;
    border-radius: 5px;
}

.img {
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}

.active {
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #2783fc;
    background-color: white;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.25), inset 0 1px 3px rgba(0,0,0,0.22);
}
