.formElement {
    outline: none;
}
.formElement textarea,
.formElement input {
    outline: none;
    width: 400px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #309bff;
    border-radius: 3px;
    color: #000065;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.25), inset 0 1px 3px rgba(0,0,0,0.22);
}
.formElement.error input,
.formElement.error textarea {
    border: 1px solid crimson;
    background-color: #fdecf1;
}
.formElement.error span {
    color: #d7506b;
}