.header {
    grid-area: h;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    border: 1px solid black;
}

.headerContainer {
    width: 100%;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: crimson;
    font-size: 20px;
    margin-left: 50px;
}
.login button {
    margin-top: 0;
    margin-right: 30px;
}

.navlink {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: crimson;
    margin-right: 30px;
}
