.header {
    grid-area: h;
    background-color:white;
    margin-top: 10px;
    border: 1px solid black;
}
.header img {
    width: 70px;
}

.header a {
    float: right;
    margin-right: 10px;
    color: crimson;
    text-decoration: none;
}