.navbar {
    grid-area: n;
    background-color: white;
    margin: 10px 5px 0px 0px;
    border: 1px solid black;
}

.navbarItems {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.navbar h3 {
    text-align: center;
    color: crimson;
}

.item a {
    color: #4b4b4b;
    text-decoration: none;

}
.item a.active {
    color: crimson;

}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 2fr 2fr;
    padding-top: 10px;
    text-align: center;
}

.listFriends {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}