.users_page button {
   margin: 5px;
}
.selectedPage {
   font-weight: bold;
   border: 1px solid crimson;
}
.pages {
   display: flex;
   justify-content: space-between;
}
.pages span {
   cursor: pointer;
   font-size: 15px;
   font-weight: 500;
   color: #0071ff;
}
.arrow {
   color: crimson;
   font-size: 15px;
   font-weight: 500;
   cursor: pointer;
   margin-left: 10px;
   margin-right: 10px;
}
