.heading {
    color: crimson;
    text-align: center;
}

.add_post {
    margin: 5px;
    background-color: #f5f8ff;
}

.add_post textarea {
    margin: 5px;
    width: 97%;
}

.add_post button {
    margin: 5px;
}

.post {
    margin-top: 30px;
}