.logForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input {
    padding-bottom: 10px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.info {
    width: 300px;
    margin-top: 20px;
    color: #000065;
}
.info span {
    color: #2783fc;
}
.logForm h2 {
    color: #000065;
    font-weight: 500;
}
.error {
    color: red;
}