.dialogs {
    display: flex;
}

.dialog {
    display: flex;
}

.dialogsItems {
    max-height: 91vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f5f8ff;
    border-radius: 5px;
}

.dialogsItems a {
    color: #dc143c;
    text-decoration: none;
}

.dialogsItems a.active {
    color: #aeaeae;
    font-weight: bold;
}

.messages_block {
    width: 100%;
    background-color: #f5f8ff;
    border-radius: 5px;
}

.messages {
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: white;
    right: 0;
    border: 2px solid #e5edfd;
}

.empty {
    color: #000065;
    margin: 0 auto;
    margin-top: 100px;
}

.messages_elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    margin-left: 25px;
}


.input_message {
    display: flex;
    margin: 5px 5px 5px 0px;
    align-items: flex-end;
}

.input_message textarea {
    width: 27vw;
}

.input_message button {
    margin: 0 0 5px 5px;
}

.text {
    margin: 0 auto;
    padding-top: 100px;
    font-size: 20px;
    font-weight: 400;
    color: #000065;
}

.text img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

