.dialogs {
    display: flex;
}

.dialog {
    display: flex;
}

.dialogsItems {
    margin: 5px;
    border: 1px solid black;
    background-color: white;
}

.dialogsItems a {
    color: crimson;
    text-decoration: none;
}

.dialogsItems a.active {
    color: #aeaeae;
    font-weight: bold;
}

.messages {
    width: 100%;
    margin: 5px 5px 5px 0px;
    border: 1px solid black;
    background-color: white;
    right: 0;
}

.message_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 5px 5px 0px;
    border: 1px solid black;
}

.input_message {
    display: flex;
    margin: 5px 5px 5px 0px;
    align-items: flex-end;
}

.input_message textarea {

}

.input_message button {
    margin: 0 0 5px 5px;
}
