.message_item {
   display: flex;
   margin: 10px;
   align-items: flex-end;
}
.message_item img {
   width: 50px;
   height: 50px;
   border: 1px solid #8080ff;
   border-radius: 30px;
}
.corner {
   height: 15px;
   width: 15px;
   background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, #f5f8ff 0);
}
.corner.is_my {
   background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, #dae9ff 0);
}
.message {
   color: #000065;
   max-width: 60%;
   justify-content: space-between;
   border-radius: 7px 7px 7px 0;
   padding: 10px;
   background-color: #f5f8ff;
   word-wrap: break-word;
}
.message.is_my {
   background-color: #dae9ff;
}
.sender_name {
   color: darkred;
   font-weight: 600;
   font-size: 15px;
}
.message_body {
   display: flex;
}
.text {
}
.time {
   display: flex;
   align-items: flex-end;
   padding: 5px;
   color: #717171;
}
.delete {
   width: 13px;
   height: 16px;
   cursor: pointer;
   background-image: url("../../../assets/images/delete.png");
   background-size: cover;
   background-position: center;
   margin-left: 5px;

}


